extends layout
head

block title
    title Kitchen Order System

block backgroundimage
    img.pageBg(src='/images/kitchenOrder_img/kitchen_Order_background.png' , width = '85%')

block sidebar
    li.item
        a(href='#')
            img.svg(src='/images/kitchenOrder_img/print_daily_btn.svg', alt='Order History')
            .textDiv
                span.itemText(style='margin-left:10px;') Order History

    hr.divider

    li.item
        a(href='#')
            img.svg(src='/images/kitchenOrder_img/orders_last_night_btn.svg', alt='Orders from Last Night')
            .textDiv
                span.itemText(style='margin-left:10px;') Orders from Last Night

    hr.divider

    li.item
        a(href='#')
            img.svg(src='/images/kitchenOrder_img/orders_today_btn.svg', alt='Orders from Today')
            .textDiv
                span.itemText(style='margin-left:10px;') Orders from Today


block utiltop
    li.utilItem
        a(href='/')
            img.svg(src='/images/utilities_img/home_btn.svg', alt='home')
block utilbottom
    li.utilItem
        a(href='#anch2')
            img.svg(src='/images/utilities_img/search_btn.svg', alt='Search')
    li.utilItem
        a(href='#anch2')
            img.svg(src='/images/utilities_img/print_btn.svg', alt='Print')
    li.utilItem
        a(href='#anch2')
            img.svg(src='/images/utilities_img/acc_info_btn.svg', alt='Acc info')
    li.utilItem
        a(href='#anch2')
            img.svg(src='/images/utilities_img/logout_btn.svg', alt='Logout')
block content
    h1.pageTitle Kitchen Order System

